@page "/TeacherReport/"
@inject NavigationManager _Nav


    <style>
        .btn1 {
            border: none;
            outline: none;
            height: 50px;
            width: 100%;
            background-color: #0765a2;
            color: white;
            border-radius: 4px;
            font-weight: bold;
        }

            .btn1:hover {
                background: white;
                border: 1px solid;
                color: #0765a2;
            }
    </style>

    <div class="container">
        <div class="row justify-content-center">
            <center>
                <div class="col card py-5" style="padding:30px; border-radius:10px; box-shadow: 1px 1px 10px 1px #000;">
                    <div class="form-group">

                        <img src="/img/AGLogo.jpg" class="img-fluid" alt="" width="320"> <br><br>
                        <h3>Teacher E-Attendance Summary</h3>
                        <br />
                        <select @bind="Campus" class="form-control py-2">
                            <option value="">Select Campus</option>
                            <option value="64">Campus 64</option>
                            <option value="31">Campus 31</option>
                            <option value="Korat">Campus Korat</option>
                        </select>                       
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn1" @onclick="GotoPage">Submit</button>
                    </div>
                    
                </div>
            </center>

        </div>


    </div>


@code {
    public string Campus = "";


    public void GotoPage()
    {
        _Nav.NavigateTo("/TeacherAttendanceSummary/" + Campus);
    }

}
